@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
:root{
  --acc-hue: 330;
  --acc-sat: 72%;
  --acc: var(--acc-hue), var(--acc-sat), 48%;
}

@media (prefers-color-scheme: dark){
  :root{
    --fg: 0, 0%, 100%;
    --bg1: var(--acc-hue), calc(var(--acc-sat) / 3), 7%;
    --bg2: 0, 0%, 75%;
  }
}
@media (prefers-color-scheme: light){
  :root{
    --fg: 0, 0%, 0%;
    --bg1: var(--acc-hue), calc(var(--acc-sat) / 3), 60%;
    --bg2: 0, 0%, 100%;
  }
}

html, body{
  height: 100%;
}

body{
  background-color: hsl(var(--bg1));
  font-family: "Play";
  color: hsl(var(--fg));
  margin: 0;
  display: flex; flex-direction: column;
}

#__nuxt {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* animation */

*{
  transition-duration: 0.3s;
}
.slide-enter-active,
.slide-enter-from {
  opacity: 0;
  transform: translate(-50px, 0);
}
.slide-leave-to {
  opacity: 0;
  transform: translate(50px, 0);
}

/* basics */

h1, h2, h3, h4{
  font-size: 1.2em;
}
h1 {
  font-size: 2em;
}
h2{
  color: hsl(var(--acc));
  font-size: 1.5em;
}

a{
  color: inherit;
}
a:hover{
  color: hsl(var(--acc));
}
a:has(button){
  text-decoration: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

table{
  width: 100%;
  border-spacing: 0;
}
thead th, tfoot th{
  border-top: 1px solid hsl(var(--acc));
  border-bottom: 1px solid hsl(var(--acc));
  text-align: left;
}

/* misc */

.ghost, label{
  opacity: 0.5;
}
.accent{
  color: hsl(var(--acc)) !important;
}
.accent-border, .accent-border::before{
  border-color: hsl(var(--acc)) !important;
}
.cap-initial::first-letter{
  text-transform: capitalize;
}
.success{
  --color: 90, 100%, 50%;
}
.error{
  --color: 0, 100%, 50%;
}
.alert-color{
  color: hsl(var(--color));
}

/* flexing */

.flex-right, .flex-down{
  display: flex;
  gap: 1em;

  &.wrap{
    flex-wrap: wrap;
  }
  &.center{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &.center-vert{
    align-items: baseline;
  }
  &.stretch *{
    flex-basis: 100%;
  }
  &.tight{
    gap: 0.25em 0.5em;
  }
}
.flex-right{
  flex-direction: row;
}
.flex-down{
  flex-direction: column;
}

/* gridding */

.grid-2, .grid-3, .grid-5{
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(var(--grid-count), 1fr);
  align-items: flex-start;

  &.center {
    align-items: center;
  }
}
.grid-2{ --grid-count: 2 }
.grid-3{ --grid-count: 3 }
.grid-5{ --grid-count: 5 }

/* Interactives */

.clickable{
  cursor: pointer;
  user-select: none;
  background-color: hsla(var(--acc), 0.2) !important;

  &:hover {
    background-color: hsla(var(--acc), 0.4) !important;
  }
}
